/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    section{
        padding-top:50px
    }
    .title-share{
        margin-bottom:50px;
    }
    .title-share h2{
        font-size: 30px;
    }
    .header-inner{
        width: 100%;
    }
    nav {
        float:none;
        background-color: #000;
        position:fixed;
        height: 100vh;
        width: 250px;
        top:0;
        left:-270px;
        box-shadow : 3px 0 3px rgba(0, 0, 0, 0.1);
        padding-top:70px;
        padding-left:15px;
        transition:0.5s
    }
    nav a{
        display:block;
        font-weight: bold;
        font-size: 20px;
    }
    nav.active{
        left:0
    }
    /* Trigger */
    .trigger {
        width: 30px;
        height: 30px;
        position:absolute;
        top:10px;
        left:10px;
        cursor:pointer;
        font-size: 30px;
        text-align:center;
        z-index:12;
        color:#fff
    }
    .trigger:before {
        content: '\e91c';
        font-family: xeicon;
    }
    .trigger.active:before {
        content: '\e9af';
    }
    /* welcome */
    .welcome-heading{
        top:10%
    }
    .welcome-heading h1{
        font-size: 50px;
    }
    /* mouse */
    
    .mouse{
        display:none
    }
    /* ABOUT */
    .about-inner{
        width: 100%;
        padding:0 20px;
    }
    .about-content{
        width: 100%;
    }
    .about-left{
        width: 40%;
        line-height:23px
    }
    .hello{
        font-size: 18px;
    }
    .name{
        font-size: 20px;
    }
    .name span{
        font-size: 30px;
    }
    .creative{
        font-size: 18px;
    }
    .introduce{
        font-size: 13px;
    }
    .introduce span{
        font-size: 16px;
    }
    .yh-left{
        font-size: 14px;
    }
    .yh-right{
        font-size: 13px;
        margin-left:10%
    }
    .yh-right span{
        font-size: 15px;
    }
    .about-right{
        width: 55%;
    }
    .about-right img{
        width: 100%;
    }
    .resume{
        margin-top:30px
    }
    /* SKILL */
    .skill-inner{
        width: 100%;
        padding:0 20px;
    }
    .skill-content{
        width: 100%;
        flex-direction: column;
    }
    .skill-left{
        width: 100%;
        padding-right:0px
    }
    .skill-right{
        width: 100%;
        padding-left:0px
    }
    .skill-under{
        width: 100%;
    }
    .responsive{
        flex-direction: column;
    }
    .responsive-left{
        width: 100%;
        margin-bottom:20px
    }
    .responsive-right{
        width: 100%;
    }
    .design{
        flex-direction: column;
    }
    .design-left{
        width: 100%;
        margin-bottom:20px
    }
    .design-right{
        width: 100%;
    }
    /* PRACTICAL */
    .practical-inner{
        width: 100%;
        padding:0 20px;
    }
    .practical-content{
        width: 100%;
    }
    .practical-content img{
        width: 300px;
        border:1px solid red;
    }
    .slide_wrap{
        width: 100%;
    }
    .slide_btn_box{
        width: 50%;
        margin-top:430px;
        bottom:0
    }
    .slide_btn_prev{
        font-size: 15px;
    }
    .slide_btn_next{
        font-size: 15px;
    }
    .slide_btn_box > button {
        width: 60px;
        height: 30px;
    }
    /* WEBSITE */
    .website{
        margin-bottom:500px
    }
    .website-inner{
        width: 100%;
        padding:0 20px;
    }
    .content-inner{
        width: 100%;
        flex-direction: column;
    }
    .web-tab-btn{
        display:flex;
        flex-direction: row;
    }
    .web-tab-btn label{
        margin-right:20px;
        margin-bottom:50px
    }
    .web-tabs{
        width: 100%;
    }
    .tab-inner{
        gap:20px;
    }
    /* CLONE */
    .clone-inner{
        width: 100%;
        padding:0 20px
    }
    .clone-content{
        width: 100%;
        flex-direction: column;
    }
    .clone-info-wrap{
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content: space-between;
    }
    .clone-info-wrap h3{
        display:none
    }
    .clone-info{
        width: 50%;
        padding:0
    }
    .clone-info p{
        padding:0;
        width: 90%;
        font-size: 12px;
    }
    .clone-info-under{
        width: 50%;
        padding-left:10px;
    }
    .clone-info-left,
    .clone-info-right{
        font-size: 12px;
    }
    .clone-page{
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    .clone-chrome,
    .clone-netflex,
    .clone-nike{
        width: 33%;
        padding:10px
    }
    /* MOBILE */
    .mobile h2{
        width: 100%;
        padding:0 20px
    }
    .mobile-inner{
        width: 100%;
    }
    .mobile-content{
        width: 100%;
    }
    /* EPILOGUE */
    .epilogue-inner{
        width: 100%;
        padding:0 20px;
        margin-bottom:50px
    }
    .epilogue-content{
        width: 100%;
    }
    .epilogue-left{
        display:none
    }
    .epilogue-right{
        width: 100%;
    }
    .epilogue-right h3{
        font-size: 20px;
    }
    .epilogue-right h3 span{
        font-size: 30px;
    }
    .epilogue-right p{
        font-size: 15px;
    }
    .epilogue-right h4{
        font-size: 20px;
    }
    .epilogue-right h4 span{
        font-size: 25px;
    }
    /* FOOTER */
    footer{
        text-align:center
    }
    .footer-inner{
        width: 100%;
    }
    .footer-content{
        width: 100%;
        justify-content:center
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    html,
    body{
        width:100%;
        overflow-x:hidden;
    }
    section{
        padding-top:50px
    }
    .title-share{
        margin-bottom:30px;
    }
    .title-share h2{
        font-size: 20px;
    }
    .title-share h2:after{
        width: 30px;
        border:1px solid #000;
        margin-left:20px
    }
    .header-inner{
        width: 100%;
    }
    nav {
        float:none;
        background-color: #000;
        position:fixed;
        height: 100vh;
        width: 250px;
        top:0;
        left:-270px;
        box-shadow : 3px 0 3px rgba(0, 0, 0, 0.1);
        padding-top:70px;
        padding-left:15px;
        transition:0.5s
    }
    nav a{
        display:block;
        font-weight: bold;
        font-size: 18px;
    }
    nav.active{
        left:0
    }
    /* Trigger */
    .trigger {
        width: 30px;
        height: 30px;
        position:absolute;
        top:10px;
        left:10px;
        cursor:pointer;
        font-size: 30px;
        text-align:center;
        z-index:12;
        color:#fff
    }
    .trigger:before {
        content: '\e91c';
        font-family: xeicon;
    }
    .trigger.active:before {
        content: '\e9af';
    }
    /* welcome */
    .welcome-heading{
        top:5%
    }
    .welcome-heading h1{
        font-size: 23px;
    }
    .welcome-heading-text span{
        font-size: 12px;
    }
    /* mouse */
    
    .mouse{
        display:none
    }
    /* ABOUT */
    .about-inner{
        width: 100%;
        padding:0 20px;
    }
    .about-content{
        width: 100%;
        flex-direction: column;
    }
    .about-left{
        width: 100%;
        line-height:23px;
        padding-bottom:30px
    }
    .hello{
        font-size: 12px;
    }
    .name{
        font-size: 15px;
    }
    .name span{
        font-size: 20px;
    }
    .creative{
        font-size: 12px;
    }
    .introduce{
        font-size: 12px;
    }
    .introduce span{
        font-size: 15px;
    }
    .yh-left{
        font-size: 15px;
    }
    .yh-right{
        font-size: 12px;
        margin-left:10%
    }
    .yh-right span{
        font-size: 12px;
    }
    .about-right{
        width: 100%;
    }
    .about-right img{
        width: 100%;
    }
    .resume{
        margin-top:30px
    }
    /* SKILL */
    .skill-inner{
        width: 100%;
        padding:0 20px;
    }
    .skill-content{
        width: 100%;
        flex-direction: column;
    }
    .skill-content img{
        width: 50px;
    }
    .skill-content span{
        font-size: 15px;
    }
    .skill-content p{
        font-size: 14px;
    }
    .skill-left{
        width: 100%;
        padding-right:0px
    }
    .skill-right{
        width: 100%;
        padding-left:0px
    }
    .skill-under{
        width: 100%;
    }
    .responsive{
        flex-direction: column;
    }
    .responsive-left{
        width: 100%;
        margin-bottom:20px
    }
    .responsive-right{
        width: 100%;
    }
    .design{
        flex-direction: column;
        margin-bottom:0
    }
    .design-left{
        width: 100%;
        margin-bottom:20px
    }
    .design-right{
        width: 100%;
    }
    /* PRACTICAL */
    .practical-inner{
        width: 100%;
        padding:0 20px;
    }
    .practical-content{
        width: 100%;
    }
    .practical-content h3{
        font-size: 25px;
    }
    .practical-content img{
        width: 300px;
        border:1px solid red;
    }
    .slide_wrap{
        width: 100%;
    }
    .slide_btn_box{
        width: 50%;
        margin-top:430px;
        bottom:0
    }
    .slide_btn_prev{
        font-size: 15px;
    }
    .slide_btn_next{
        font-size: 15px;
    }
    .slide_btn_box > button {
        width: 60px;
        height: 30px;
    }
    /* WEBSITE */
    .website{
        margin-bottom:1000px
    }
    .website-inner{
        width: 100%;
        padding:0 20px;
    }
    .content-inner{
        width: 100%;
        flex-direction: column;
    }
    .web-tab-btn{
        display:flex;
        flex-direction: row;
    }
    .web-tab-btn label{
        margin-right:10px;
        margin-bottom:50px;
        font-size: 15px;
    }
    .web-tabs{
        width: 100%;
    }
    .tab-inner{
        gap:20px;
        flex-direction: column;
    }
    .web-photo{
        width: 100%;
    }
    .tab-info h3{
        font-size: 20px;
    }
    .tab-info p{
        width: 100%;
        font-size: 14px;
    }
    /* CLONE */
    .clone-inner{
        width: 100%;
        padding:0 20px
    }
    .clone-content{
        width: 100%;
        flex-direction: column;
    }
    .clone-info-wrap{
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
    }
    .clone-info-wrap h3{
        display:none
    }
    .clone-info{
        width: 100%;
        padding:0
    }
    .clone-info p{
        padding:0;
        width: 90%;
        font-size: 12px;
        line-height:20px
    }
    .clone-info-under{
        width: 100%;
        padding-left:0px;
        line-height:20px
    }
    .clone-info-left,
    .clone-info-right{
        font-size: 12px;
    }
    .clone-page{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .clone-chrome,
    .clone-netflex,
    .clone-nike{
        width: 100%;
        padding:10px;
    }
    .clone-chrome,
    .clone-netflex{
        margin-bottom:50px
    }
    /* MOBILE */
    .mobile h2{
        width: 100%;
        padding:0 20px
    }
    .mobile-inner{
        width: 100%;
    }
    .mobile-content{
        width: 100%;
        flex-direction: column;
        padding:30px 0;
    }
    .mobile-left{
        width: 100%;
    }
    .mobile-right{
        width: 100%;
        padding:0 20px;
    }
    .mobile-right h3{
        font-size: 30px;
    }
    /* EPILOGUE */
    .epilogue-inner{
        width: 100%;
        padding:0 20px;
        margin-bottom:50px
    }
    .epilogue-content{
        width: 100%;
    }
    .epilogue-left{
        display:none
    }
    .epilogue-right{
        width: 100%;
    }
    .epilogue-right h3{
        font-size: 18px;
    }
    .epilogue-right h3 span{
        font-size: 20px;
    }
    .epilogue-right p{
        font-size: 15px;
    }
    .epilogue-right h4{
        font-size: 18px;
    }
    .epilogue-right h4 span{
        font-size: 20px;
    }
    /* FOOTER */
    footer{
        text-align:center
    }
    .footer-inner{
        width: 100%;
    }
    .footer-content{
        width: 100%;
        justify-content:center
    }
}