/* CDN */
/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* FONT CDN */
/* Source+Sans+Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Gmarket Sans */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Section Display */
header {
    /* display:none */
}
.welcome {
    /* display:none */
}
.about {
    /* display:none */
}
.skill {
    /* display:none */
}
.practical {
    /* display:none */
}
.publishing {
    /* display:none */
}
.clone {
    /* display:none */
}
.mobile {
    /* display:none */
}
.epilogue {
    /* display:none */
}
footer {
    /* display:none */
}

/* 공통 CSS */
* {
    box-sizing:border-box
}
a {
    text-decoration: none;
    color: #222
}
button, input {
    outline : none
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    font-weight: normal;
    line-height: 1.5em;
}
html {
    scroll-behavior: smooth;
}
body{
    font-size: 18px;
    line-height: 1.5em;
    margin:0;
    background-color: #fff;
    color: #222;
    font-family: 'Roboto Mono', monospace;
}
body.active {
    overflow:hidden
}
section {
    padding-top:100px
}
.title-share{
    margin-bottom:100px
}
.title-share h2{
    text-align:left;
    font-size: 40px;
    font-weight: bold;
    position:relative;
    font-family: 'Kumbh Sans', sans-serif;
}
.title-share h2:after{
    content: '';
    position:absolute;
    width: 70px;
    border:2px solid #000;
    border-radius: 20px;
    top:40%;
    margin-left:30px
}
/* header */
header {
    position:fixed;
    width: 100%;
    z-index: 10;
    transition:0.5s;
}
header.active {
    background-color:#333;
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
    height: 50px;
}
.header-inner{
    width: 1300px;
    margin:auto;
    overflow: hidden;
}
nav {
    float:right;
    margin-right:20px
}
nav a {
    margin:10px;
    font-size: 16px;
    color: #fff;
    display:inline-block;
    opacity:0.5;
    transition: 0.3s;
}
nav a:hover{
    opacity:1;
    text-transform: uppercase;
}
/* Welcome */
.welcome{
    position:relative;
    padding:0;
}
.welcome-bg {
    position:relative;
    display:block;
    box-sizing: border-box;
}
.welcome-heading{
    position:absolute;
    top:15%;
    width: 100%;
}
.welcome-heading-text{
    width: 50%;
    margin:auto;
    text-align:left;
}
.welcome-heading-text span{
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.welcome-heading h1{
    color:#fff;
    font-size: 90px;
    font-weight: bold;
}
/* mouse */
.mouse-content{
    position:absolute;
    width: 100%;
    top:40%
}
.mouse{
    position:absolute;
    border:4px solid #fff;
    width: 42px;
    height: 65px;
    border-radius: 30px;
    left:49%
}
.wheele{
    position:absolute;
    background-color:#fff;
    width: 5px;
    height: 15px;
    border-radius: 4px;
    left:14px;
    top:10px;
    animation:wheele 1.8s linear infinite;
}
@keyframes wheele {
    0% {
        top:10px
    }
    50% {
        top:20px
    }
    100%{
        top:10px
    }
}
/* ABOUT */
.about-inner{
    width: 1300px;
    margin:auto
}
.about-content{
    width: 1100px;
    margin:auto;
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-left{
    width: 45%;
}
.hello{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
}
.name{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.name span {
    font-size: 45px;
}
.creative{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
}
.creative span{
    font-weight: bold;
}
.green{
    color: #4bcb7b
}
.purple{
    color:#8972f0;
}
.introduce{
    font-family: 'GmarketSansMedium';
    font-size: 17px;
}
.introduce span{
    font-size: 20px;
    font-weight: 700;
}
.yh{
    /* border:1px solid red; */
    width: 100%;
    display:flex;
    flex-direction: row;
}
.yh-left{
    width: 20%;
    font-weight: bold;
}
.yh-right{
    width: 70%;
    margin-left:5%;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    font-family: 'GmarketSansMedium';
    line-height: auto;
}
.yh-right span{
    font-weight: bold;
    font-size: 18px;
}
.about-right{
    width:45%
}
.about-right img {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(200, 200, 200);
}
.resume {
    text-align:center;
    margin-top:70px
}
.resume a {
    border:1px solid #000;
    font-family: 'GmarketSansMedium';
    color:#000;
    background-color:#fff;
    padding:10px;
    border-radius: 10px;
}
.resume a:hover{
    color:#fff;
    background-color:#000
}
/* SKILL */
.skill-inner{
    width: 1300px;
    margin:auto;
}
.skill-content{
    width: 1100px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* SKILL-LEFT */
.skill-left{
    width: 50%;
    padding-right:50px
}
.html{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:50px
}
.html-left{
    width: 20%;
}
.html-left img{
    margin-bottom:15px
}
.html-left span{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Kumbh Sans', sans-serif;
}
.html-right{
    width: 79%;
    font-size: 15px;
    line-height:25px;
}
.javascript{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:50px
}
.javascript-left{
    width: 20%;
}
.javascript img{
    margin-bottom:15px
}
.javascript-left span{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Kumbh Sans', sans-serif;
}
.javascript-right{
    width: 79%;
    font-size: 15px;
    line-height:25px;
}
/* SKILL-RIGHT */
.skill-right{
    width: 50%;
    padding-left:50px;
}
.css{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:50px
}
.css-left{
    width: 20%;
}
.css-left img {
    margin-bottom:15px
}
.css-left span{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Kumbh Sans', sans-serif;
}
.css-right{
    width: 79%;
    font-size: 15px;
    line-height:25px;
}
.jquery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:50px
}
.jquery-left{
    width: 20%;
}
.jquery-left img{
    margin-bottom:15px
}
.jquery-left span{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Kumbh Sans', sans-serif;
}
.jquery-right{
    width: 79%;
    font-size: 15px;
    line-height:25px;
}
/* SKILL-UNDER */
.skill-under{
    width: 90%;
    margin:auto
}
.responsive{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom:50px
}
.responsive-left{
    width: 40%;
}
.responsive-left img{
    margin-right:20px;
    margin-bottom:15px
}
.responsive-left span{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Kumbh Sans', sans-serif;
}
.responsive-right{
    width: 55%;
    font-size: 15px;
    line-height:25px;
}
.design{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom:50px
}
.design-left{
    width: 40%;
}
.design-left img{
    margin-right:20px;
    margin-bottom:15px
}
.design-left span{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Kumbh Sans', sans-serif;
}
.design-right{
    width: 55%;
    font-size: 15px;
    line-height:25px;
}
/* PRACTICAL */
.practical-inner{
    width: 1300px;
    margin:auto;
}
.practical-content{
    width: 1230px;
    height: 400px;
    margin:auto;
    margin-bottom:50px;
}
.practical-content h3{
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    margin-bottom:30px;
    text-align:center
}
.practical-content img{
    width: 300px;
    border:1px solid #cfc7f0;
    border-radius: 10px;
    margin-right:30px
}
.practical-content img:not(:last-child){
    margin-right:30px
}
.slide_wrap{
    position:relative;
    width: 990px;
    margin:auto;
}
.slide_box{
    position:absolute;
    width: 100%;
    margin:auto;
    overflow:hidden
}
.slide_content{
    position:relative;
    display:table;
    float:left;
    width: 300px;
    height: 300px;
    cursor:pointer;
}
.slide_content:before{
    content:'';
    position:absolute;
    width: 300px;
    height: 287px;
    top:0;
    left:0;
    background-color:#000;
    opacity:0.5;
    transition:0.5s;
    border-radius: 10px;
}
.slide_content:hover:before{
    opacity:0
}
.slide-text{
    color:#000;
    padding-top:5px;
    text-align:center;
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.slide-text a{
    border:2px solid #000;
    border-radius: 20px;
    width: 120px;
    display:block;
    margin:auto;
    height: 30px;
}
.slide-text a:hover{
    background-color:#000;
    color:#fff
}
.slide_btn_box{
    margin:auto;
    width: 1190px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:170px;
}
.slide_btn_box > button {
    top: 50%;
    margin-top: -45px;
    width: 60px;
    height: 60px;
    background:none;
    cursor:pointer;
    transition:0.5s
}
.slide_btn_prev{
    border:5px solid #fff;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 40px;
    color:#999;
    font-size: 18px;
    box-shadow:5px 5px 5px #ddd
}
.slide_btn_next{
    border:5px solid #fff;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 40px;
    color:#999;
    font-size: 18px;
    box-shadow:5px 5px 5px #ddd;
    margin-right:30px
}
.slide_btn_box > button:hover{
    box-shadow:5px 5px 5px 5px rgb(192, 192, 192);
    margin-top:-47px;
    color:#222

}
/* pagination */
/* .slide_pagination { 
    list-style: none; 
    margin: 180px auto; 
    padding: 0;
    width: 500px;
    text-align:center;
}
.slide_pagination .dot { 
    display: inline-block; 
    width: 15px; 
    height: 15px; 
    margin: 0 5px; 
    overflow: hidden; 
    background: #ddd; 
    border-radius: 50%; 
    transition: 0.3s; 
}
.slide_pagination .dot.dot_active { 
    background: #8972f0; 
}
.slide_pagination .dot a { 
    display: block; 
    width: 100%; 
    height: 100%; 
} */
/* PUBLISHING */
.website{
    background-color: #fff;
    margin-bottom:250px
}
.website-inner{
    width: 1300px;
    margin:auto
}
.content-inner{
    display:flex;
    width: 1230px;
    margin:auto
}
.web-tab-btn {
    margin-right:100px
}
.web-tabs {
    flex:3
}

.web-tab-btn label{
    display:block;
    font-size: 20px;
    font-weight: bold;
    line-height: 2em;
    cursor:pointer;
    text-transform: uppercase;
    margin:10px 0;
}
input[name=weblist] {
    display:none
}
.web-tabs {
    position:relative;
    width: 1100px;
    height: inherit;
}
.web-tab {
    position:absolute;
    top:0;
    left:0;
    right:0;
    opacity: 0;
    visibility: hidden;
    transition:0.5s;
}
.tab-inner{
    display:flex;
    gap:100px;
}
/* .web-tab:nth-child(even) .tab-inner {
    flex-direction: row-reverse;
} */
.tab-info h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin:0;
    text-transform: capitalize;
}
.tab-info p{
    font-family: 'GmarketSansMedium';
    width: 460px;
    margin:30px 0 20px 0;
    font-size: 15px;
    line-height: 1.8em;
}
.tab-info ul {
    width:460px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
}
.web-photo{
    width: 500px;
    height: 450px;
    overflow:hidden;
    border-radius: 10px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.171);
}
.web-photo img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position:top;
    transition:8s;
}
.web-photo img:hover{
    object-position:bottom;
}
input[id=web-tab1]:checked ~ .web-tab-btn label[for=web-tab1],
input[id=web-tab2]:checked ~ .web-tab-btn label[for=web-tab2],
input[id=web-tab3]:checked ~ .web-tab-btn label[for=web-tab3],
input[id=web-tab4]:checked ~ .web-tab-btn label[for=web-tab4] {
    text-decoration: #000 underline 3px;

}
input[id=web-tab1]:checked ~ .web-tabs .web-tab:nth-child(1),
input[id=web-tab2]:checked ~ .web-tabs .web-tab:nth-child(2),
input[id=web-tab3]:checked ~ .web-tabs .web-tab:nth-child(3),
input[id=web-tab4]:checked ~ .web-tabs .web-tab:nth-child(4) {
    opacity: 1;
    visibility: visible;
}
.result-buttons .btn{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #2b2b2b;
    border:1px solid #2b2b2b;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 20px;
    margin: 20px 3px 0 0;
    transition: 0.35s;
    cursor: pointer;
}
.result-buttons .btn:hover{
    background-color:#fff;
    color:#2b2b2b;
    border:1px solid #2b2b2b
}
/* Custom CSS : Featherlight */
.featherlight-content {
    width: 100%;
    max-height: 100% !important;
    height: 100%;
    margin-left: 0 !important;
}
.featherlight iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.featherlight .featherlight-close-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 40px;
    top: 90%;
    background-color: none;
    color: #fff;
    font-size: 1.5em;
    transition: 0.5s;
}
.featherlight .featherlight-close-icon:hover {
    background-color: none;
    /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3); */
    transform: translateY(-5px);
}
/* CLONE */
.clone-inner{
    width: 1300px;
    margin:auto;
}
.clone-content{
    width: 1230px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
.clone-info{
    width: 24%;
    padding:10px 0;
}
.clone-info h3{
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}
.clone-info p{
    width: 90%;
    font-size: 14px;
    padding:10px 0;
    font-family: 'GmarketSansMedium';
}
.clone-info-under{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
}
.clone-info-left{
    width: 30%;
    font-size: 15px;
}
.clone-info-right{
    width: 70%;
    font-size: 15px;
}
/* CLONE-CHROME */
.clone-chrome{
    width: 24%;
}
.clone-netflex{
    width: 24%;
}
.clone-nike{
    width: 24%;
}
/* CLONE PHOTO */
.clone-photo{
    width: 100%;
    height: 450px;
    overflow:hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.clone-photo img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: top;
    transition:4s
}
.clone-photo img:hover{
    object-position: bottom;
}
/* clone-coding h3 button */
.clone-chrome h3,
.clone-netflex h3,
.clone-nike h3{
    font-size: 18px;
    text-align:center;
    padding-top:15px;
    padding-bottom:10px;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}
.clone-buttons {
    display:flex;
    flex-direction: row;
    width: 200px;
    margin:auto;
    /* border:1px solid red */
}
.clone-buttons .btn{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #2b2b2b;
    border:1px solid #2b2b2b;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    margin:auto;
    border-radius: 10px;
    transition: 0.35s;
    cursor: pointer;
    text-align:center;

}
.clone-buttons .btn:hover{
    background-color:#fff;
    color:#2b2b2b;
    border:1px solid #2b2b2b;
    font-weight: bold;
}
/* MOBILE */
.mobile h2{
    width: 1300px;
    margin:auto
}
.mobile-container{
    width: 100%;
    background-color:#F0E1E1;
    height: auto;
}
.mobile-inner{
    width: 1300px;
    margin:auto;
}
.mobile-content{
    width: 1230px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
.mobile-left{
    width: 60%;
}
.mobile-left img{
    width: 100%;
    height:100%
}
.mobile-right{
    width: 35%;
}
.mobile-right h3{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    padding:20px 0
}
.mobile-right h4{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}
.mobile-right p{
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    padding:5px 0 10px 0;
    line-height: 2em;
}
.mobile-under{
    display:flex;
}
.mobile-under-left{
    width: 30%;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
}
.mobile-under-right{
    width: 65%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
}
/* mobile button */
.mobile-buttons .btn{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #2b2b2b;
    border:1px solid #2b2b2b;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top:30px;
    border-radius: 10px;
    transition: 0.35s;
    cursor: pointer;
    text-align:center;

}
.mobile-buttons .btn:hover{
    background-color:#fff;
    color:#2b2b2b;
    border:1px solid #2b2b2b
}
/* EPILOGUE */
.epilogue-inner{
    width: 1300px;
    margin:auto;
    margin-bottom:100px
}
.epilogue-content{
    width: 1230px;
    margin:auto
}
.epilogue-content h3{
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: bold;
    padding-bottom:30px
}
.epilogue-content h3 span{
    font-size: 35px;
}
.epilogue-content p {
    font-size: 18px;
    font-family: 'GmarketSansMedium';
}
.epilogue-content h4{
    font-size: 25px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
}
.epilogue-content h4 span{
    font-size: 35px;
}
.orange{
    color:orange
}
.green{
    color:#4bcb7b
}
.red{
    color:red
}
.purple{
    color:#8972f0
}
/* FOOTER */
footer{
    background-color:#000;
    color:#fff;
    width: 100%;
    text-align:right
}
.footer-inner{
    width: 1300px;
    margin:auto
}
.footer-content{
    font-family: 'Source Sans Pro', sans-serif;
    width: 1230px;
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-end;
    padding:20px 0;
    text-align:left;
    font-size: 15px;
}
.footer-left{
    margin-right:30px;
    font-weight: bold;
    font-size: 16px;
}
.footer-right a{
    color:#fff;
    text-decoration: none !important
}
/* go to top */
.btn-top{
    position:fixed;
    right:20px;
    bottom:-50px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.5);
    color:#fff;
    line-height:43px;
    text-align:center;
    transition:0.5s
}
.btn-top.active{
    bottom:20px
}
strong{
    color:red
}