body,h1,h2,h3,p,div,ul,li,dl,dt,dd 
        {
            margin: 0;
            padding: 0;

        }

        body {
            font-family: "나눔고딕";
            font-size: 18px
        }

        ul,li,dl,dt,dd {
            list-style: none
        }
        
        a{
            text-decoration: none;
            color: #000
                /* inherit */
        }
        
        address {
            font-style: normal
        }
        

        /* 공통 클래스 */
        
        .blind{
            position:absolute;
            clip:rect(0 0 0 0);
            width:1px;
            height:1px;
            margin:-1px;
            overflow:hidden
            }
        
        .screen_out{
            overflow:hidden;
            position:absolute;
            width:0;
            height:0;
            line-height:0;
            text-indent:-9999px
            }
        
        .hide{
            position:absolute;
            left:-9999px;
            top:-9999px
            }

/* ------------------------------------------             */

        body{font-size:20px}
        a{text-decoration:none;margin:0 5px}

        table, td{
            border-collapse:collapse;
            margin:auto
        }
        th, td{
            padding:10px;
            font-size:16px
        }
        .notice_list_set{
            width:1200px
        }
        .notice_list_title{
            border-top:2px solid #999;
            border-bottom:1px solid #999;
            
        }
        .notice_list_content{
            border-bottom:1px solid #999;
        }
        .no{width:20px; text-align:left}
        .n_title{width: 800px;}
        .writer{width: 50px;}
        .w_date{width: 85px;text-align:center}
        .cnt{width: 10px;text-align:center;}
        .reg_date{width:120px}
        .modify{width:160px}
        
        a:hover{color:rgb(255, 128, 0)}
        
        .write_area{
            width: 1200px;
            display:flex;
            justify-content:space-between;
            /* text-align:center */
            margin:0 0 20px 0;
            font-weight:bold            
        }
        .search{
            border:1px solid grey;
            border-radius:5px;
            width: 100px;
            height: 30px;
        }
        .search2{
            border:1px solid grey;
            border-radius:5px;
            width: 200px;
            height: 25px;
        }
        .search3{
            border:none;
            border-radius:5px;            
            width: 50px;
            height: 30px;
            background-color:#FC7D07;
            color:#fff;            
            cursor:pointer
        }
        .wrap{
            min-width:1600px
        }

        .header{
            height:271px;
            width:1600px;
            border-bottom:1px solid #DDDDE0;
            margin:auto;
            position:relative;
            z-index:10
        }
        /* header */
        .top{
            border-bottom:2px solid #FC7D07;
            width:1600px;
            height:70px;
            position:relative;
            margin: auto 
        }

        .top_menu{
            border:0px solid #fff;
            width: 1200px;
            margin:auto;
            
        }
        
        .top1{
            float:left;
            position:relative;
            margin:25px 36px 26px 0px
        }
        .top1 > a{
            width:80px;
            height:70px;
            font-weight:900;
            display:block
            /* margin:25px 36px 26px 218px  */
        }
        .top2{
            float:left;
            margin:25px 34px 26px 0;    
        }
        .top2 a{
            width:80px;
            height:70px;
            display:block;
            font-weight:900;
            
            
        }
        .top3 {
            float:left;
            margin:25px 36px 26px 0 
        }
        .top3 a {
            width:60px;
            height:18px;
            display:block;
            font-weight:900;
        }
        .top4 {
            float:left;
            margin:25px 35px 36px 0 
        }
        .top4 a {
            width:100px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top5 {
            float:left;
            margin:25px 35px 36px 0 
        }
        .top5 a {
            width:80px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top6 {
            float:left;
            margin:25px 16px 36px 0 
        }
        .top6 a {
            width:120px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top7 {
            float:left;
            margin:25px 115px 36px 0 
        }
        .top7 a {
            width:100px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top8 {
            float:left;
            margin:25px 16px 36px 0 
        }
        .top8 a {
            width:60px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top9{
            float:left;
            margin:25px 16px 36px 0;
            width:5px;
            height:18px;
            display:block;
            font-weight:900
        }
        .top10 {
            float:left;
            margin:25px 0 36px 0 
        }
        .top10 a {
            width:82px;
            height:18px;
            display:block;
            font-weight:900
        }
                /* logo */

        .logo{
            width:225px;
            height:99px;
            margin:17px auto 0px
            
        }
        .logo a{            
            display:block;
            background:url(../images/logo_03.jpg) no-repeat;
            text-indent:-9999px;
            width:225px;
            height:99px;
        }
        /* .gnb{
            border:3px solid #cbcbcb
        } */
        .gnb{
            position:relative;
            margin:auto;
            width: 1200px;
            height: auto;                        
        }

        .nav_bg{
            width:1200px;
            height:auto;
            background:#8484aa;
            margin:auto  
        }

        .gnb h2{
            position:absolute;
            left:-9999px;
            top:-9999px;
        }

        

        /* .gnb>ul{
            width:100%;
            height: 40px;
            margin:30px auto;
            font-size:18px;
            color:#000
        } */

        .gnb>ul>li{
            float:left;
            width:200px;
            position:relative;
            line-height:40px;
            text-align:center;
            margin:25px 0 0 0;
            height:auto                               
        }

        .gnb>ul>li>a{
            display:block; height: 40px;
            /* height:auto */
            
        }

        .gnb1>ul{
            display:none;
            height:auto
        }
        .gnb2>ul{
            display:none
        }
        .gnb3>ul{
            display:none
        }
        .gnb4>ul{
            display:none
        }
        .gnb5>ul{
            display:none
        }
        .gnb6>ul{
            display:none
        }
        
                        /* gnb1 */
        

        .bg1{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:370px;
            margin:20px 0 0 0;
        }
        .gnb1>li{
            width:200px;
            height:auto
        }
        .gnb1_1{
            /* float:left; */
            text-align:left;
            border-bottom:1px solid #FC7D07;
            margin-left:10px;
            width:150px;
            height:auto;
            line-height:50px;
            font-weight: bold;
            display: block;            
        }

        .small_gnb{
            font-size:15px;
            text-align:left;
            margin-left:10px;
            height:auto
        }
        .a1 {
            font-weight: bold;
        }
                            /* gnb2 */

        .a2{
            font-weight: bold;
        }
        .bg2{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:370px;
            margin:20px 0 0 -200px;
            
        }
        
        .gnb2_1{
            /* float:left; */
            position:absolute;
            border-bottom:1px solid #FC7D07;
            width:150px;
            height:40px;
            left:10px;
            text-align:left;
            display: block;
            font-weight: bold;
        }
        .small_gnb1{
            position:absolute;
            text-align:left;
            left:10px;
            font-size:15px;
            top:40px
        }

        
        .gnb2>li{
            
            
            width:200px;
            height:370px;
            
            
        }
        
        .gnb2_2{
            position:absolute;            
            border-bottom:1px solid #FC7D07;
            width:150px;
            height:40px;
            top:0px;
            left:250px;
            font-weight: bold;
            text-align:left;
            display: block;
        }
        
        .small_gnb2{
            position:absolute;
            top:40px;
            left:250px;
            text-align:left;
            font-size:15px
        }

        .gnb2_3{
            position:absolute;
            
            border-bottom:1px solid #FC7D07;
            width: 150px;
            height:40px;
            top:0px;
            left:500px;
            text-align:left;
            font-weight: bold;

        }

        .small_gnb3{
            position:absolute;
            top: 40px;
            left: 500px;
            text-align:left;
            font-size:15px
        }

        .gnb2_4{
            position:absolute;
            border-bottom:1px solid #FC7D07;
            width: 150px;
            height:40px;
            top:0px;
            left:750px;
            font-weight: bold;
            text-align:left   
        }
        
        .small_gnb4{
            position:absolute;
            top:40px;
            left:750px;
            text-align:left;
            font-size:15px
        }
        
        .gnb2_5{
            position:absolute;
            
            border-bottom:1px solid #FC7D07;
            width: 150px;
            height:40px;
            top:0px;
            left:1000px;
            text-align:left;
            font-weight: bold;
            
        }

        .small_gnb5{
            position:absolute;
            top:40px;
            left:1000px;
            font-size:15px;
            text-align:left
        }
        
        .gnb2_6{
            position:absolute;            
            border-bottom:1px solid #FC7D07;
            font-weight: bold;
            text-align:left;
            width:170px;
            height:40px;
            top:200px;
            left:250px
        }

        /* .small_gnb6 ul{
            position:absolute;
            top:200px;
            left:0px
        } */

        .gnb2_7{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width:150px;
            height:40px;
            top:200px;
            left:500px
        }

        .small_gnb7{
            position:absolute;
            top:240px;
            left:500px;
            font-size: 15px;
            text-align:left
            
        }

        .gnb2_8{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width:150px;
            height:40px;
            top:200px;
            left:750px
        }

        .small_gnb8{
            position:absolute;
            top:240px;
            left:750px;
            font-size:15px;
            text-align:left
        }

        .gnb2_9{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width:150px;
            height:40px;
            top:200px;
            left:1000px
        }

        .small_gnb9{
            position:absolute;
            top:240px;
            left:1000px;
            font-size:15px;
            text-align:left
        }

        /* gnb3 */
        .a3{
            font-weight: bold;
        }
        .bg3{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:170px;
            margin:20px 0 0 -400px;   
        }
        .gnb3>li{
            width:200px;
            height:200px;
        }
        .gnb3_1{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid#FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:10px
        }
        .gnb3_2{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:250px
        }
        .small_gnb11{
            position:absolute;
            text-align:left;
            font-size:15px;
            top:40px;
            left:250px
        }
        
        .gnb3_3{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:500px
        }

        .small_gnb12{
            position:absolute;
            font-size:15px;
            text-align:left;
            top:40px;
            left:500px
        }

        /* gnb4 */

        .a4{
            font-weight: bold;
        }
        .bg4{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:60px;
            margin:20px 0 0 -600px; 
        }

        .gnb4_1{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:10px;
        }
        .gnb4_2{
            position:absolute;
            text-align:left;
            border-bottom:1px solid #FC7D07;
            font-weight: bold;
            width: 150px;
            height: 40px;
            top:0px;
            left:250px;
        }

        .gnb4_3{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:500px;
        }
        .gnb4_4{
            position:absolute;            
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:750px;
        }
        .gnb4_5{
            position:absolute;
            text-align:left;
            border-bottom:1px solid #FC7D07;
            font-weight: bold;
            width: 150px;
            height: 40px;
            top:0px;
            left:1000px;
        }
        

        /* gnb5 */
        .a5{
            font-weight: bold;
        }
        .bg5{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:170px;
            margin:20px 0 0 -800px;
        }
        .gnb5_1{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width: 210px;
            height: 40px;
            top:0px;
            left:10px;
        }
        .small_gnb13{
            position:absolute;
            font-size: 15px;
            text-align: left;
            top:40px;
            left:10px;
        }
        .gnb5_2{
            position:absolute;
            text-align: left;
            border-bottom:1px solid #FC7D07;
            font-weight: bold;
            width: 150px;
            height: 40px;
            top:0px;
            left:270px;
        }
        .small_gnb14{
            font-size:15px;
            position:absolute;
            text-align: left;
            top:40px;
            left:270px;
            margin-left:0px
        }
        .gnb5_3{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width: 150px;
            height: 40px;
            top:0px;
            left:500px;
        }
        .small_gnb15{
            position:absolute;
            text-align: left;
            font-size:15px;
            top:40px;
            margin-left:500px
        }
        .gnb5_4{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align:left;
            width: 150px;
            height: 40px;
            top:0px;
            left:750px;
        }
        .small_gnb16{
            position:absolute;
            font-size: 15px;
            text-align:left;
            top:40px;
            left:750px;
        }
        
        .gnb5_5{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width: 150px;
            height: 40px;
            top:0px;
            left:1000px;
        }
        

                    /* gnb6 */
        .a6{
            font-weight: bold;
        }

        .bg6{
            position:relative;
            background-color: #fff;
            border-bottom:1px solid #D9D7D7;
            width:1200px;
            height:200px;
            margin:20px 0 0 -1000px;
        }

        .gnb6_1{
            position:absolute;
            font-weight: bold;
            border-bottom:1px solid #FC7D07;
            text-align: left;
            width: 160px;
            height: 40px;
            top:0px;
            left:10px
        }
        .small_gnb17{
            position:absolute;
            font-size:15px;
            text-align: left;
            left:10px;
            top:40px;
            height:370px;            
        }

                            /* content */
            .notice{
            display:block;            
            margin:auto;
            width: 1200px;
            height: 500px;
        }

        .notice2{
            display:block;
            margin:20px auto 20px;
            text-align:center;
            

            
        }      
        .hr{
            margin:20px auto 20px;
            width:1200px;
        }
        .pager{
            text-align:center;
            margin:20px 0 0 0
        }

        /* 하단메뉴 */
        .footer{
            position:relative;
            z-index:5
        }

        .bottom_menu{
            border:1px solid #FC7D07;
            background-color: #FC7D07;
            box-shadow: 6px 6px 6px lightgray; 
            width: 1200px;
            height: 85px;
            margin:auto
        }
        .bottom1{
            text-indent:-9999px
        }
        .bottom2 a{
            display:block;
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 100px 
        }
        .bottom3{
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 109px 
        }
        .bottom4 a{
            display:block;
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 132px 
        }
        .bottom5{
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 134px 
        }
        .bottom6 a{
            display:block;
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 122px 
        }
        .bottom7{
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 100px 
        }
        .bottom8 a{
            display:block;
            font-weight:900;
            color: rgba(255, 255, 255, 1);
            float:left;
            margin:-10px 0 0 100px 
        }

                                /* 약관 및 정책 */

        .foot{
            
            width: 1200px;
            height: 444px;
            margin:17px auto
            
        }
        .footer_logo{
            
            float:left
        }
        .footer_logo a{
            display:block;
            background:url(../images/logo2_67.jpg) no-repeat;
            text-indent:-9999px;
            width: 247px;
            height: 109px;
            
        }
        .policy0{
            text-indent:-9999px
        }
        .policy{
            
            width: 850px;
            float:left;
            margin:-25px 0 0 52px 
        }
        .policy1{
            
            height: 20px;
            width: 850px;
        }
        .policy2 a{
            display:block;
            font-weight:900;
            
            float:left
        }
        .policy3{
            font-weight:900;
            color: rgba(221, 221, 224, 1);
            margin:0 0 0 17px;
            float:left
        }
        .policy4 a{
            display:block;
            font-weight:900;
            margin:0 0 0 16px;
            float:left
        }
        .policy5{
            font-weight:900;
            color: rgba(221, 221, 224, 1);
            margin:0 0 0 16px;
            float:left
        }
        .policy6 a{
            display:block;
            font-weight:900;
            margin:0 0 0 16px;
            float:left
        }
        .policy7{
            font-weight:900;
            color: rgba(221, 221, 224, 1);
            margin:0 0 0 16px;
            float:left
        }
        .policy8 a{
            display:block;
            font-weight:900;
            margin:0 0 0 16px;
            float:left
        }
        .policy9{
            font-weight:900;
            color: rgba(221, 221, 224, 1);
            margin:0 0 0 16px;
            float:left
        }
        .policy10 a{
            display:block;
            font-weight:900;
            margin:0 0 0 15px;
            float:left
        }
        .address1{
            text-indent:-9999px;
            font-size:36px
        }
        .address2{
            line-height:30px
        }
        .address3{
            font-weight:900;
            float:left
        }
        .copy{
            font-size:12px;
            font-weight:900
        }
        .footer_bar{
            color: rgba(221, 221, 224, 1);
        }

        .sel{color: #FC7D07}

        .login{
            font-size:16px;
            font-weight:bold;
            float:right
            
        }

        /* .gnb1_1{
            background:#FF0606 ; color: #fff
        } */

        /* .small{
            margin:auto;
            width: 1600px;
        } */

        /* .gnb1 > ul{
            width:auto;
            position:absolute;
            margin:auto    
        } */

        /* .big{
            border:1px solid #000;
            background:#000;
            width:1600px;
            height:auto;
        } */